@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 50%;
    width: 100%;
  }

  to {
    margin-top: 0;
    width: 100%;
  }
}

header {
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 5px 5px inset wheat;
}

a {
  color: pink;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  padding: 10px;
}

header h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-style: italic;
  color: pink;
  font-size: 60px;
  text-align: center;
}

main h2 {
  font-family: "Indie Flower", cursive;
  color: pink;
  font-size: xx-large;
}

p {
  font-family: "Amatic SC", cursive;
  color: rgb(255, 255, 255);
  font-size: x-large;
}

main p {
  font-family: "Amatic SC", cursive;
  color: rgb(255, 255, 255);
  font-size: x-large;
  margin: 20px;
  padding: 20px;
}

h2 img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

aside {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

#contato {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: centers;
}

section a {
  font-family: "Indie Flower";
  font-size: 20px;
  color: pink;
}

footer img {
  height: 30px;
  width: 30px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

a:hover {
  color: goldenrod;
  box-shadow: 10px;
  border-radius: 10px;
}

footer img:hover {
  border-radius: 50%;
  border-color: goldenrod;
  box-shadow: 0px 0px 3px 3px goldenrod;
}
